@model RegCodeFirst.Models.Registration

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Registration</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)

        </dt>*@

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City.CityName)

        </dt>
        <dd>
            @Html.DisplayFor(model => model.City.CityName)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
